#echec {
    border-color: red;
}

#echecMp {
    border-color: red;
}

p>i {
    color: red;
}

.champ {
    margin-right: 120px;
}

#image {
    margin: 20px;
}

#pochette {
    margin: 20px;
}

.jumbotron {
	padding-left : 30px;
}

.jumbotron li {
	width : 900px;
}